---
- name: copy peer pubkey
  ansible.builtin.copy:
    content: "{{ lookup('ansible.builtin.ini', 'PublicKey', section='Peer', file=wg_config_path) }}"
    dest: /etc/wireguard/{{ wg_interface }}.d/peer.pub
    mode: '0600'
    owner: root
    group: root
  become: true
