[Unit]
Description=Backup firefox profile every hour

[Timer]
OnCalendar=*-*-* 11:00:00
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=timers.target
