[Desktop Entry]
Terminal=false
Type=Application
Name=ff-{{ _profile_name }}
Exec=firefox -P {{ _profile_name }} --name ff-{{ _profile_name }} --no-remote %u
Icon=ff-{{ _profile_name }}
StartupWMClass=ff-{{ _profile_name }}
