[Desktop Entry]
Version=1.0
Name=Firefox Custom Profile
Comment=Browse the World Wide Web
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=/usr/lib/firefox/firefox --ProfileManager --name firefox-custom --class firefox-custom %u
Icon=firefox
StartupWMClass=firefox-custom
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
Categories=Network;WebBrowser;
Actions={% for item in firefox_profiles %}profile-{{ item }};{% endfor %}

{% for item in firefox_profiles %}

[Desktop Action profile-{{ item }}]
Name=Open a New Window ({{ item }} profile)
Exec=/usr/lib/firefox/firefox -P {{ item }} --name firefox-{{ item }} --class firefox-{{ item }} %u
StartupWMClass=firefox-{{ item }}
{% endfor %}
