[Unit]
Description=Autossh tunnel
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/autossh -M 0 -F /home/autossh/.ssh/ssh_config_autossh autossh_tunnel
User=autossh
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
