[Unit]
Description=certbot renew

[Service]
Type=simple
User=root
WorkingDirectory=/data/containers/certbot/
ExecStart=/data/containers/certbot/bin/certbot.sh
