# The ping-wg.sh will exit with error if it cannot ping.
# Need to set `PartOf=ping-wg.sh` systemd unit override to `wg-quick@<ifname>.service` to trigger restarting `wg-quick@<ifname>.service` when this unit restart.
[Unit]
Description=ping wg for awake tunnel after wg server restart
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
Environment="GATEWAY_IP={{ gateway_ip }}"
ExecStart=/opt/ping-wg/ping-wg.sh

[Install]
WantedBy=multi-user.target
